.b {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(146, 111, 21, 0.815);
}
.b input {
  border-radius: 6px;
  border: transparent;
  padding: 8px 10px;
}
.b label {
  display: flex;
  gap: 20px;
  align-items: center;
}
.b form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.b fieldset {
  display: flex;
  gap: 20px;
  width: 275px;
}
.b button {
  width: 150px;
  border-radius: 8px;
  border: transparent;
  padding: 8px 5px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.753);
  transition: all 0.4s ease;
}
.b button:hover,
.b button:focus {
  color: antiquewhite;
  background-color: rgba(83, 68, 48, 0.685);
}
